<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello World</title>

    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <script src="jquery/jquery.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>
    <script src="main.js"></script>
</head>

<body>
    <div class="container-fluid">
        <h1>Sign In</h1>
            <label>Username:</label>
            <input type="text" class="form-control" id="username">
            <label>Password:</label>
            <input type="text" class="form-control" id="password">
        <br>
            <button id="user_input_btn" class="btn btn-primary">Submit</button>
        <br>

        <div id="displayBio"></div>
    </div>
</body>

</html>
