<!DOCTYPE html>

<html>

<head>
   <!-- <meta charset="UTF-8"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello World</title>

    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <script src="jquery/jquery.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>
    <script src="main.js"></script>
</head>

<body>
    <div class="container-fluid">
        <h1 style="text-align:center;">Sign In</h1><br>

        <h2>Username:</h2><br>
        <input type="text" class="form-control"  id="-input"><br><br>
        
        <h3>Password:</h3><br>
            <input style="text-align:center;" type="text" class="form-control" id="password"><br><br>
            <button onClick="clickLogin()">Log in</button><br><br>
            <div style="text-align:center;" id="displayBio"></div>
    </div>
</body>

</html>
